{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Liste{% endblock %}

{% block body %}


    <h1>Afficher une sortie</h1>

    <div class="container">
        <div class="field"><label>Nom de la sortie:</label> <span>{{ sortie.nom }}</span></div>
        <div class="field"><label>Campus Organisateur:</label> <span>{{ sortie.site.nom }}</span></div>

        <div class="field"><label>Date et heure de la sortie:</label> <span>{{ sortie.dateHeureDebut|date('Y/m/d H:m') }}</span></div>
        <div class="field"><label>Lieu:</label> <span>{{ sortie.lieu.nom }}</span></div>

        <div class="field"><label>Date limite d'inscription:</label> <span>{{ sortie.dateLimiteInscription|date('Y/m/d') }}</span></div>
        <div class="field"><label>Rue:</label> <span>{{ sortie.lieu.rue }}</span></div>

        <div class="field"><label>Nombre de places:</label> <span>{{ sortie.nbInscriptionMax }}</span></div>
        <div class="field"><label>Code postal:</label> <span>{{ sortie.lieu.ville.codePostal }}</span></div>

        <div class="field"><label>Durée:</label> <span>{{ sortie.duree }}</span></div>
        <div class="field"><label>Description et infos:</label> <span>{{ sortie.infoSortie }}</span></div>

        <div class="field"><label>Longitude:</label> <span>{{ sortie.lieu.longitude }}</span></div>
        <div class="field"><label>Latitude:</label> <span>{{ sortie.lieu.latitude }}</span></div>

    </div>

    {% if app.user not in listUsers and sortie.dateLimiteInscription > "now" and sortie.etat == "OUVERTE"   %}
    <a href="{{ path('sortie_inscription',{id: sortie.id}) }}">S'inscrire</a>
    {% endif %}

    {% if app.user in listUsers and sortie.etat != "EN COURS" %}
    <a href="{{ path('sortie_deinscription',{id: sortie.id}) }}">Ce déinscrire</a>
    {% endif %}

    {% for user in listUsers %}
        {{ user.nom }}
    {% endfor %}

{% endblock %}