{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - Liste{% endblock %}

{% block body %}

    <h1>Afficher une sortie</h1>

    <div class="container">
        <div class="field"><label>Nom de la sortie:</label> <span>{{ sortie.nom }}</span></div>
        <div class="field"><label>Campus :</label> <span>{{ sortie.site.nom }}</span></div>

        <div class="field"><label> Organisateur :</label> <span>{{ sortie.organisateur.nom }}</span></div>

        <div class="field"><label>Date et heure de la sortie:</label> <span>{{ sortie.dateHeureDebut|date('d/m/Y H:m') }}</span></div>
        <div class="field"><label>Lieu:</label> <span>{{ sortie.lieu.nom }}</span></div>

        <div class="field"><label>Date limite d'inscription:</label> <span>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</span></div>
        <div class="field"><label>Rue:</label> <span>{{ sortie.lieu.rue }}</span></div>

        <div class="field"><label>Nombre de places:</label> <span>{{ sortie.nbInscriptionMax }}</span></div>
        <div class="field"><label>Code postal:</label> <span>{{ sortie.lieu.ville.codePostal }}</span></div>

        <div class="field"><label>Durée:</label> <span>{{ sortie.duree }}</span></div>
        <div class="field"><label>Description et infos:</label> <span>{{ sortie.infoSortie }}</span></div>

        <div class="field"><label>Longitude:</label> <span>{{ sortie.lieu.longitude }}</span></div>
        <div class="field"><label>Latitude:</label> <span>{{ sortie.lieu.latitude }}</span></div>
    </div>

    {% if app.user not in listUsers and sortie.dateLimiteInscription > "now" and sortie.etat == "OUVERTE"   %}
    <a href="{{ path('sortie_inscription',{id: sortie.id}) }}">S'inscrire</a>
    {% endif %}

    {% if app.user in listUsers and sortie.etat != "EN COURS" %}
    <a href="{{ path('sortie_deinscription',{id: sortie.id}) }}">Se désinscrire</a>
    {% endif %}

    <section>
        <legend>👉Liste des participants : </legend>
        <table>
            <tr>
                <th>Pseudo</th>
                <th>Nom Prénom</th>
                <th>Profil</th>
            </tr>
            {% for user in sortie.users %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.nom }}  {{ user.prenom }}</td>
                    <td><a href="{{ path('app_user', {id: user.id}) }}">Voir 👆</a></td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}
