{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste{% endblock %}

{% block body %}
<h2>Evènements</h2>
    <form action="{{ path('sortie_list') }}" name="criteres" method="get">
        <label for="site"> 🗺 Site :</label>
        <select name="site" id="site">
            <option value="">-- Tous les sites --</option>
            {% for site in sites %}
                <option value="{{ site.id }}">{{ site.nom }}</option>
            {% endfor %}
        </select>
        <label for="contents">Le nom de la sortie contient :</label>
        <input type="text" name="contents" id="contents">
        <div>
            <label >🔍 FILTRES :</label>
            <label for="orga">Sorties dont je suis l'organisateur/trice</label>
            <input type="checkbox" id="orga" name="orga" value="orga">
            <label for="inscrit">Sorties auxquelles je suis inscrit(e)</label>
            <input type="checkbox" id="inscrit" name="inscrit" value="inscrit">
            <label for="pasinscrit">Sorties auxquelles je ne suis pas inscrit(e)</label>
            <input type="checkbox" id="pasinscrit" name="pasinscrit" value="pasinscrit">
            <label for="passe">Sorties passées</label>
            <input type="checkbox" id="passe" name="passe" value="passe">
            <div>
                <label for="apres">📆 Après le : </label>
                <input type="date" name="apres" id="apres">
                <label for="avant"> 📆 Avant le : </label>
                <input type="date" name="avant" id="avant">
            </div>
        </div>

        <input type="submit" value="Recherche">
    </form>
    <!--gestion des pages si plus de 10 évènements-->
    <h3> Liste des évènements publiés : </h3>

    <section class="sortie-list" >
        {%  for sortie in sorties %}

        <a href="{{ path('sortie_detail', {id : sortie.id }) }}">
            {% if sortie.etat != 'ANNULEE' %}
            <article class="card">
            <h4>{{ sortie.nom }}</h4>
            <span>Site : {{ sortie.site.nom }}</span>
            <span>Date Début Sortie : {{ sortie.dateHeureDebut|date('d/m/Y') }}</span>
            <span>Date Fin Inscription : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</span>
            <span>Nombre de places maximum : {{ sortie.nbInscriptionMax }} </span>
            <span>Organisateur : {{ sortie.getOrganisateur().nom }} {{ sortie.getOrganisateur().prenom }}</span>
            </article>
            {% endif %}
            {% if sortie.etat == "ANNULEE" %}
                <article class="card" style="background-image: url('{{ asset('images/143294d0-c748-44a6-b2cd-205d54a8a469.jpg') }}')">
                    <h4>{{ sortie.nom }}</h4>
                    <span>Site : {{ sortie.site.nom }}</span>
                    <span> {{ sortie.etat }} </span>
                    <span>Raison : {{ sortie.infoSortie }}</span>
                </article>
            {% endif %}
        </a>
        {% endfor %}
    </section>

    <!--présentation pagination-->
    <section class="section">
        {% if page > 1 %}
            <a href="{{ path('sortie_list', {'page': page - 1}) }}">Page précédente ◀ </a>&nbsp;
        {% endif %}
        <span> page {{ page }}/{{ totalPages }} </span>
        {% if page < totalPages %}
            <a href="{{ path('sortie_list', {'page': page + 1}) }}">▶ Page suivante</a>&nbsp;
        {% endif %}
    </section>

{% endblock %}


