{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste{% endblock %}

{% block body %}
<h2>Evènements</h2>

    <!--gestion des pages si plus de 10 évènements-->
    <h3> Liste des évènements publiés : </h3>

<section class="sortie-list">
    {%  for sortie in sorties %}
    <article class="card">
        <h4>{{ sortie.nom }}</h4>
        <span>Site : {{ sortie.site.nom }}</span>
        <span>Date : {{ sortie.dateHeureDebut|date('Y/m/d') }}</span>
        <span>Nombre de places maximum : {{ sortie.nbInscriptionMax }} </span>
        {# <a href="{{ path('sortie_detail', {id : sortie.id }) }}">
        </a> #}

    </article>
    {% endfor %}

</section>



{% endblock %}


