<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortie{% endblock %}</title>

        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>

            <img class="title" src="{{ asset('images/logo_projet_php.png') }}" alt="logo Sortie">


            <nav>
                <ul class="nav-links" id="navLinks">
                    <li><a href="{{ path('main') }}">Accueil</a></li>
                    {% if is_granted('IS_AUTHENTIFICATED') %}
                    <a href="{{ path('app_user', { id : app.user.id }) }}">Profil Utilisateur</a>
                    {%  endif %}
                    <li><a href="{{ path('sortie_list') }}">Evènements</a></li>
                    {#  {% endif %} #}
                    {# {% if is_granted('ROLE_ADMIN') %} #}
                    <li><a href="#">Créer un évènement</a></li>
                    {# <li><a href="{{ path('sortie_create') }}">Créer un évènement</a></li> #}
                    {# {% endif %} #}
                    {#  {% if !is_granted('IS_AUTHENTIFICATED') %} #}
                    {# <li><a href="{{ path('app_login') }}">Se connecter</a></li> #}
                    {# {% else %} #}
                    {# <li><a href="{{ path('app_logout') }}">Déconnexion</a></li> #}
                    {# {% endif %} #}
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}

            {% endblock %}
        </main>
        <footer class="text-center">
            {% block footer %}
            <p>©Sortir-com {{ "now" | date("Y") }}</p>
            {% endblock %}
        </footer>
    </body>
</html>
