{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../assets/css/style.css">
{% endblock %}

{% block body %}

    <h1>Profil</h1>
    <div class="imgProfil">
        <img src="{{ asset('uploads/photos/'~user.photo) }}" alt="logo">
    </div>
<section class="">
         <div class = "row justify-content-center">
             <div class = "col-6">

               {{ form_start(user_form) }}
                 <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                 {{ form_row(user_form._token) }}
                 {{ form_row(user_form.pseudo) }}
                {{ form_row(user_form.nom) }}
                {{ form_row(user_form.prenom) }}
                {{ form_row(user_form.email) }}
                {{ form_row(user_form.telephone) }}
                {{ form_row(user_form.campus) }}
                {% if isModified == true %}
                    {{ form_row(user_form.plainPassword) }}
                    {{ form_row(user_form.photo) }}
                {% endif %}

                {% if isModified == true %}
                    {{ form_row(user_form.submit) }}
                    {{ form_end(user_form,{render_rest: false}) }}
                {% endif %}

        {% if isModified == false and app.user.id == user.id %}
            <div class="btn-position">
                <button type="button" class="btn"> <a href="{{ path('app_user_update',{id: user.id}) }}"> Modifier </a> </button>
            </div>
            {{ form_end(user_form,{render_rest: false}) }}
        {% endif %}


            </div>
        </div>
    </section>

    <section class="">
        <h4>Sorties organisées</h4>
        {% if(sortiesOrganisees is not empty) %}
        <div class = "row justify-content-center">
            <div class = "col-6">
                {%  for sortie in sortiesOrganisees %}
                <article class="card">
                    <h4>{{ sortie.nom }}</h4>
                    <span>Date : {{ sortie.dateHeureDebut|date('d/m/Y') }}</span>
                    <a href="{{ path('sortie_detail', {id : sortie.id }) }}">Détails</a>
                </article>
                {% endfor %}
            </div>
        </div>
{%  else %}
    <p>Aucune sortie organisée</p>
{% endif %}
    </section>


{% endblock %}
